.delivery {
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 0 48px 48px 0;
  border-color: transparent #178305 transparent transparent;
  transform: rotate(0deg);
  border-radius: 0 0.25rem 0 0;
}
