.background-image {
  background-image: url("../../../assets/Home/bannerBgVector.svg");
  background-repeat: no-repeat, repeat;
  background-attachment: scroll;
  background-position: top bottom;
  background-size: cover;
}
.mobile-chip {
  display: none;
}
.tablet-chip {
  display: block;
}

.add {
  margin: 0;
}

.price {
  color: #ffa114;
}
.card-img {
  cursor: pointer;
  object-fit: scale-down;
}
.home-customize {
  border: solid 1px lightgrey;
  color: grey;
}

.card-style {
  cursor: pointer;
}

@media only screen and (max-width: 500px) {
  .banner-img {
    margin-top: 40px;
    transform: rotate(20deg);
    width: 300px;
  }
  .background-image {
    background-position: center;
  }
  .card-img {
    width: 100%;
  }
  .carousel-control-prev-icon,
  .carousel-control-next-icon {
    width: 1rem;
  }
  .mobile-chip {
    display: block;
  }
  .tablet-chip {
    display: none;
  }
  .item-card {
    padding: 0 !important;
  }

  .add {
    margin-top: 5px;
    width: 100%;
  }
}

@media (min-width: 769px) {
  .item-card {
    margin-right: 2rem;
  }
}
