.background-image {
  background-image: url("../../../assets/Home/bannerBgVector.svg");
  background-repeat: no-repeat, repeat;
  background-attachment: scroll;
  background-position: top bottom;
  background-size: cover;
}
.mobile-chip {
  display: none;
}
.tablet-chip {
  display: block;
}

@media only screen and (max-width: 500px) {
  .banner-img {
    margin-top: 40px;
    transform: rotate(20deg);
    width: 300px;
  }
  .background-image {
    background-position: center;
  }
  .card-img {
    width: 100%;
  }
  .carousel-control-prev-icon,
  .carousel-control-next-icon {
    width: 1rem;
  }
  .mobile-chip {
    display: block;
  }
  .tablet-chip {
    display: none;
  }
}
