.menu-details {
  background-color: #e2fbd775;
}
.cart-button {
  margin-left: 2rem;
  background-color: #34b53a;
}

.customize-button {
  background-color: #ffa114;
}

@media (min-width: 769px) {
  .card {
    width: 83%;
    margin: 3rem 0 2rem 4rem;
  }

  .menu-details {
    padding: 1rem 0 0.5rem 0;
  }

  .vertical-line {
    border-left: 1px solid #ccc;
    height: 100%;
    margin: 0 15px;
  }
}

@media (max-width: 501px) {
  .card {
    margin: auto 1.5rem;
  }

  .title {
    margin: 2rem 0 0.5rem 1.75rem;
  }

  .menu-details {
    padding: 1rem 0 0.75rem 0.5rem;
  }

  .vertical-line {
    border-top: 1px solid #ccc;
    width: 100%;
    margin: 15px 0;
  }
}

@media (min-width: 501px) and (max-width: 768px) {
  .card {
    margin: 0 2rem;
  }
  .menu-details {
    padding: 1rem 0 0.5rem 0;
  }

  .vertical-line {
    border-left: 1px solid #ccc;
    height: 100%;
    margin: 0 15px;
  }
}
