.form-control {
  padding-left: 2rem;
  text-indent: 30px;
}

.form-control-feedback {
  position: absolute;
  z-index: 2;
  display: block;
  width: 1.375rem;
  height: 1.375rem;
  line-height: 2.375rem;
  padding-left: 0.25rem;
  text-align: center;
  pointer-events: none;
  color: grey;
}

.form-group.input-material {
  // variables (normally global variables in Bootstrap scss)
  $gray-400: #ced4da;
  $primary: #007bff;
  $danger: #dc3545;
  $black: #000;
  // local variables
  $inactive-color: $gray-400;

  position: relative;

  label {
    color: darken($inactive-color, 10%);
    font-size: 16px;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: 5px;
    bottom: 1px;
    transition: 0.1s ease all;
    -moz-transition: 0.1s ease all;
    -webkit-transition: 0.1s ease all;
  }

  .form-control {
    border: none;
    border-bottom: 2px solid $inactive-color;
    border-radius: 0px;
    background-color: transparent;
    padding-left: 5px;
    box-shadow: none;

    &:focus,
    &[value]:not([value=""]) {
      border-bottom-color: $primary;
      color: $black;
    }
  }
}
