.nav-link {
  color: #5a1410 !important;
  font-weight: 500;
}
.sm-card-icon {
  display: none;
}
.lg-card-icon {
  display: block;
}

@media (max-width: 500px) {
  .logo {
    width: 50%;
    img {
      width: 100px;
    }
  }
  .lg-card-icon {
    display: none;
  }
  .sm-card-icon {
    display: block;
    margin-right: 10px;
    span {
      display: block;
    }
  }
}

@media (min-width: 501px) and (max-width: 768px) {
  .logo {
    width: 30%;
    img {
      width: 150px;
    }
  }
  .lg-card-icon {
    display: none;
  }
  .sm-card-icon {
    display: block;
    span {
      display: block;
    }
  }
}
